{% extends "base.html" %}

{% block content %}
    <div class="d-grid gap-2 col-6 mx-auto text-center">
        <h1>Login Page</h1>
    </div>
    <form action="/login" method="post" class="mx-auto col-sm-10 col-md-8 col-lg-6">
          <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control form-control-lg" id="email" name="email">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control  form-control-lg" id="inputPassword" name="password">
            </div>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
          </div>
    </form>
{% endblock %}